@-viewport {
    width: device-width;
  }
.App {
    width: 100%;
    max-width: 978px;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    font-weight: 900;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 20px #b393d3, 0px 0px 10px #b393d3,
      0px 0px 20px #b393d3;
}

/* CSS */
.button-1 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: Quicksand,sans-serif;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 1rem;
  height: 1rem;
  margin: 0;
  margin-left: .4rem;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-1:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-1 {
    padding: 18px 34px;
  }
}
.Section {
    margin-top: 3rem;
    width: 98%;
    height: 100%;
    border: 3px solid forestgreen;
    position: relative;
    font-size: 1.1rem;
}

.Label {
    position: absolute;
    top: -1rem;
    left: 1.5rem;
    height: 1.5rem;
    width: 12rem;
    font-size: 1.3rem;
    background-color: rgb(196, 196, 255);
    border: 3px solid green;
    text-align: center;
    font-weight: bold;
}

.sectionBody {
    padding: .5rem;
    padding-top: 1.4rem;
}

.Interest {
    position: absolute;
    top: -.8rem;
    right: 1.5rem;
    height: 1.2rem;
    width: 12rem;
    font-size: 1.2rem;
    background-color: lightblue;
    border: 3px solid green;
    text-align: center;
    font-weight: bold;
}
form {
    text-align: center;
}
input {
    font-size: 1.2rem;
    height: 1.5rem;
    margin-left: .4rem;
}

table {
    width: 100%;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: right;
}

tr:nth-child(even) {
    background-color: rgb(217, 217, 217);
}

.description {
    text-align: left;
    padding-left: .4rem;
}

.debit {
    color: #FF0000;
}

.date {
    width: 12rem;
}

.value,
.balance {
    width: 6rem;
}

.date,
.value,
.balance {
    padding-right: .4rem;
}

.interest .value,
.interest .balance {
    color: forestgreen;
}
@media (max-width: 875px) {
    h1 {
        display: flex;
        flex-direction: column;
    }
    form, input {
        display: flex;
        flex-direction: column;
        margin-bottom: .3rem;
    }
    .Label {
        position: relative;
        margin: auto;
        left: 0;
    }
    .Interest {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translate(-50%);
    }
    .date,
    .value,
    .balance {
        padding: 0;
    }
    .description {
        padding-left: 0;
    }
    table {
        font-size: 1rem;
    }
  }